header {
    height: 70px;
    width: 100%;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
footer {
    height: 70px;
    width: 100%;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.container_main{
    height: 768px;
    width: 100%;
    border: solid 2px black;
    padding: 1px;
    display: flex;
}
.cart_header{
    height: 60px;
    width: 90%;
    border: solid 2px black;
    margin: auto;
}
.product_detail{
    height: 500px;
    width: 50%;
    border: solid 2px black;
    margin: 6px;
    flex-direction: column;
    display: flex;
   
}
.pay_section{
    height: 400px;
    width: 48%;
    border: solid 2px black;
    margin: 6px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    padding: 4px;
}
.general_item{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
form{
    margin: 10px;
}
.Product{
    height: 140px;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}
.select{
    border: 1px solid black;
    height: 128px;
    width: 128px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.p_img{
    border: 1px solid black;
    height: 128px;
    width: 360px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.q_selection{
    border: 1px solid black;
    height: 128px;
    width: 114px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1{
    width: 35px;
    height: 18px;
    border: 1px solid black;
}
.nav{
    width: 30%;
    height: 768px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer_board{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}