.searchbar 
 {
    background-color:white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 300px;
    margin-bottom: 2px;
 }
 .searchbar input{
    outline: 0px;
    width: 85%;
 }

 .nav_container{
    background-color: rgb(245, 213, 155);
 }

 .logo
 {
    font-family: "Gill Sans", sans-serif;
    font-weight: bolder;
 }

.nav_option{
    font-family: "Gill Sans", sans-serif;
} 