* {
    text-decoration: none;
}

html,
body {
    height: 100%;
    background-color: #e0e0d1;
    margin: 0;
}

header {
    height: 70px;
    border: 2px solid #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header a {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
    font-weight: bold;
    padding: 0 10px;
}

#container {
    min-height: 100%;
}

main {
    overflow: auto;
}

.description {
    height: 200px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
}

.intro {
    height: 600px;
    border: 2px solid #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    padding: 10px 40px;
    font-size: 30px;
}

.policy {
    height: 200px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.contact_method {
    height: 320px;
    width: 270px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
    font-weight: bold;
}

.sidebar {
    min-height: 100vh;
    border: 2px solid #111;
    position: absolute;
    display: flex;
    width: 300px;
    margin: 1px 0;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cust_sidebar {
    min-height: 100vh;
    border: 2px solid #111;
    position: absolute;
    display: flex;
    width: 300px;
    margin: 1px 0;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1100px) {
    .sidebar {
        min-height: 200vh;
    }

    .cust_sidebar {
        min-height: calc(200% - 410px);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: calc(100vw - 380px);
    margin-right: 30px;
}

.admin_cards {
    height: 200px;
    width: 180px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.admin_big_cards {
    height: 370px;
    width: 400px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.cust_cards {
    height: 200px;
    width: 45%;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: bold;
}

.cust_history {
    height: 370px;
    width: 100vw;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 40px;
    font-weight: bold;
}

footer {
    height: 70px;
    margin-top: 7px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* PRODUCT CSS */
.navbar{
    height: 70px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;   
}


.hotdeals{
    height: 700px;
    border: 2px solid #111;
    
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.box{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.subbox{

    border: 2px solid #111;
    margin-left: 20px;
    margin-right: 30px;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    text-align: center;

}
/* Home */


.banner
{
    height: 400px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;


}
/* carts */


.container_main{
    
    width: 100%;
    display: flex;
    height: 616px;
}
.cart_header{
    height: 60px;
    width: 90%;
    border: solid 2px black;
    margin: auto;
}
.product_detail{
    height: 600px;
    width: 50%;
   
    margin: 6px;
    flex-direction: column;
    display: flex;
    
}
.product_detail h3{
    align-items: center;
    justify-content: center;
    display: flex;
}

.pay_section{
    height: 400px;
    width: 48%;
    -webkit-box-shadow: -10px 13px 27px -7px rgba(0,0,0,0.76);
    margin: 6px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
.pay_section h3{
    padding: 4px;
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pay_section input{
  align-items: center;
  border: 1px solid gray;
  border-radius: 100px;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
}
.pay_section div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay_section button{
 
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  margin: 3px;
}

.chek_out{
    width: 100%;
}
.general_item{
    
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: -10px 13px 27px -7px rgba(0,0,0,0.76);
    -webkit-box-shadow: -10px 13px 27px -7px rgba(0,0,0,0.76);
    -moz-box-shadow: -10px 13px 27px -7px rgba(0,0,0,0.76);
}
form{
    margin: 10px;
}
.Product{
    height: 140px;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}
.select{
    height: 128px;
    width: 128px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.p_img{
    
    height: 128px;
    width: 332px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.p_img p{
    margin: 1px;
}
.q_selection{
   
    height: 128px;
    width: 114px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.q_selection p{
    width: 70px;
    height: 36px;
   background-color: white;
}
.q_selection button{
    background-color: #0A66C2;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}
.nav{
    width: 30%;
    height: 768px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer_board{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check_box{
    display: flex;
}

