* {
    text-decoration: none;
}

html,
body {
    height: 100%;
    background-color: #e0e0d1;
    margin: 0;
}

header {
    height: 70px;
    border: 2px solid #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header a {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
    font-weight: bold;
    padding: 0 10px;
}

#container {
    min-height: 100%;
}

main {
    overflow: auto;
}

.description {
    height: 200px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
}

.intro {
    height: 600px;
    border: 2px solid #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    padding: 10px 40px;
    font-size: 30px;
}

.policy {
    height: 200px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.contact_method {
    height: 320px;
    width: 270px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    font-size: 30px;
    font-weight: bold;
}

.sidebar {
    min-height: 100vh;
    border: 2px solid #111;
    position: absolute;
    display: flex;
    width: 300px;
    margin: 1px 0;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cust_sidebar {
    min-height: 100vh;
    border: 2px solid #111;
    position: absolute;
    display: flex;
    width: 300px;
    margin: 1px 0;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1100px) {
    .sidebar {
        min-height: 200vh;
    }

    .cust_sidebar {
        min-height: calc(200% - 410px);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: calc(100vw - 380px);
    margin-right: 30px;
}

.admin_cards {
    height: 200px;
    width: 180px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.admin_big_cards {
    height: 370px;
    width: 400px;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

.cust_cards {
    height: 200px;
    width: 45%;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: bold;
}

.cust_history {
    height: 370px;
    width: 100vw;
    border: 2px solid #111;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    font-size: 40px;
    font-weight: bold;
}

footer {
    height: 70px;
    margin-top: 7px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* PRODUCT CSS */
.navbar{
    height: 70px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;   
}


.hotdeals{
    height: 700px;
    border: 2px solid #111;
    
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.box{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.subbox{

    border: 2px solid #111;
    margin-left: 20px;
    margin-right: 30px;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    text-align: center;

}
/* Home */

/*
.banner
{
    height: 400px;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;


}
*/

/* carts */


.container_main{
    height: 768px;
    width: 100%;
    border: solid 2px black;
    padding: 1px;
    display: flex;
}
.cart_header{
    height: 60px;
    width: 90%;
    border: solid 2px black;
    margin: auto;
}
.product_detail{
    height: 500px;
    width: 50%;
    border: solid 2px black;
    margin: 6px;
    flex-direction: column;
    display: flex;
   
}
.pay_section{
    height: 400px;
    width: 48%;
    border: solid 2px black;
    margin: 6px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    padding: 4px;
}
.general_item{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
form{
    margin: 10px;
}
.Product{
    height: 140px;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}
.select{
    border: 1px solid black;
    height: 128px;
    width: 128px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.p_img{
    border: 1px solid black;
    height: 128px;
    width: 360px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.q_selection{
    border: 1px solid black;
    height: 128px;
    width: 114px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1{
    width: 35px;
    height: 18px;
    border: 1px solid black;
}
.nav{
    width: 30%;
    height: 768px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer_board{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
